__pycache__/
*.py[cod]

.venv/
venv/
env/

.ipynb_checkpoints/

# Ignore all files inside dataset folders
dataset/processed/*
dataset/fma_small/*
dataset/fma_metadata/*
dataset/magnatagatune/*
dataset/musiccaps/*

# Keep the folders using .gitkeep
!dataset/processed/.gitkeep
!dataset/fma_small/.gitkeep
!dataset/fma_metadata/.gitkeep
!dataset/magnatagatune/.gitkeep
!dataset/musiccaps/.gitkeep

# Model/checkpoint files
*.pt
*.pth
*.ckpt
*.bin
*.safetensors
*.npz

# Logs
*.log

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/